<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
Access-Control-Allow-Origin: *

<dom-module id="my-view2">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .container {
        padding: 1rem;
      }

      thead {
        font-weight: bolder;
      }

      .client-not-found {
        color: red;
      }
    </style>

    <div class="card">
      <h3>[[title]]</h3>
      <p class="client-not-found" hidden$="[[mlabClient]]">Correo o password no válidos</p>
      <div class="container">
        <div hidden$="[[clientFound]]">
          <paper-input id="emailClient" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}" value="{{emailClient}}" label="Correo electrónico"></paper-input>
          <paper-input id="passwordClient" type="password" value="{{passwordClient}}" label="Contraseña"></paper-input>
          <paper-button disabled="[[!clientInfoIsValid]]" raised on-click="_searchClient">MOSTRAR COTIZACIONES</paper-button>
        </div>
        <div hidden$="[[!clientFound]]">
          <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <td>Nombre</td>
                      <td>Raza</td>
                      <td>Edad (años)</td>
                      <td>Costo Anual del Seguro</td>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{quotes}}">
                        <tr>
                            <td>[[item.petName]]</td>
                            <td>[[item.petBreed]]</td>
                            <td>[[item.petAge]]</td>
                            <td>[[item.insurancePrice]]</td>
                        </tr>
                    </template>
                </tbody>
            </table>
          </div>
          <div class="row">
            <paper-button raised on-click="_resetPage">NUEVA BÚSQUEDA</paper-button>
          </div>
        </div>
      </div>
    </div>
    <iron-ajax
        id="getQuote"
        url="https://apipets.herokuapp.com/Quotes"
        content-type="application/json"
        crossDomain: true
        dataType: 'jsonp'
        method="POST"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="responseQuotes"
        on-error="errorQuotes">
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }

      static get properties() {
        return {
          title: {
            type: String,
            value: 'Ingresa los datos de tu usuario'
          },
          emailClient: {
            type: String,
            value: '',
            observer: '_validateForm'
          },
          passwordClient: {
            type: String,
            value: '',
            observer: '_validateForm'
          },
          clientInfoIsValid: {
            type: Boolean,
            value: false
          },
          quotes: {
            type: Array,
            value: []
          },
          clientFound: {
            type: Boolean,
            value: false
          },
          mlabClient: {
            type: Boolean,
            value: true
          },
        }
      };

      _validateForm() {
        if (this.$.emailClient.validate() && this.passwordClient !== '') {
          this.set('clientInfoIsValid', true);
        } else {
          this.set('clientInfoIsValid', false);
        }
      }

      _searchClient() {
        let client= {
          email: this.emailClient,
          password: this.passwordClient
        };
        this.$.getQuote.body = JSON.stringify(client)
        this.$.getQuote.generateRequest();
      }

      responseQuotes(e) {
        if (e.detail.response.length > 0) {
          console.log('Quotes found');
          this.set('quotes', e.detail.response[0].quote);
          console.log(this.quotes);
          this.set('clientFound', true);
          this.set('title', 'Cotizaciones encontradas');
          this.set('mlabClient', true);
        } else {
          console.log('Quotes not found');
        }
      }

      errorQuotes(e) {
        console.log(e.detail.error);
        if (e.detail.error) {
          this.set('mlabClient', false);
          this._resetPage();
        }
      }

      _resetPage() {
        this.set('emailClient', '');
        this.set('passwordClient', '');
        this.set('quotes', []);
        this.set('title', 'Ingresa los datos de tu usuario');
        this.set('clientFound', false);
      }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
