<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
Access-Control-Allow-Origin: *

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      paper-dropdown-menu {
        width: 50%;
      }

      .container {
        padding: 1rem;
      }
    </style>

    <div class="card">
      <div hidden$="[[!registeredClient]]">
        <h1>Cotización Enviada</h1>
        <p>El costo anual del seguro de <strong>[[namePetQuote]]</strong> es de <strong>[[insurancePrice]] MXN</strong>.</p>
        <p><strong>Nombre del Cliente: </strong>[[nameClient]]</p>
      </div>
      <h1>{{titlePetForm}}</h1>
      <div class="container">
          <paper-input id="namePet" value="{{namePet}}" label="¿Cuál es el nombre de tu mascota?"></paper-input>
          <paper-input id="agePet" value="{{agePet}}" max="10" min="0" type="number" label="¿Cuál es la edad de tu mascota?"></paper-input>
          <paper-dropdown-menu
            id="petSize"
            label="¿Cuál es el tamaño de tu mascota?"
            on-selected-item-changed="_petSizeChanged">
            <paper-listbox id="listPetAge" slot="dropdown-content" selected="0">
              <paper-item id="all">TODOS</paper-item>
              <paper-item id="small">pequeño</paper-item>
              <paper-item id="medium">mediano</paper-item>
              <paper-item id="big">grande</paper-item>
              <paper-item id="extra big">muy grande</paper-item>
            </paper-listbox>
          </paper-dropdown-menu><br>
          <paper-dropdown-menu selected-item="{{breedPet}}"id="petBreed" label="¿Cuál es la raza de tu mascota?">
            <paper-listbox id="listPetBreed" slot="dropdown-content">
              <template is="dom-repeat" items="{{petsBySize}}">
                <paper-item>{{item.petBreed}}</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu><br>
          <paper-button disabled="[[!petInfoIsValid]]" raised on-click="_sendPetData">COTIZAR</paper-button>
        </div>
    </div>
    <div class="card" hidden$=[[!contactFormIsVisible]]>
      <div class="container">
        <h1>Ingresa tus datos y enviaremos la cotización a tu correo</h1>
        <paper-input id="nameClient" value="{{nameClient}}" label="Nombre completo del contratante"></paper-input>
        <paper-input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}" id="emailClient" value="{{emailClient}}" label="Correo electrónico"></paper-input>
        <paper-input type="password" id="passwordClient" value="{{passwordClient}}" label="Contraseña"></paper-input>
        <paper-input type="password" id="passwordConfirmClient" value="{{passwordConfirmClient}}" label="Confirmar contraseña"></paper-input>
        <paper-button disabled="[[!clientInfoIsValid]]" raised on-click="_sendQuote">ENVIAR COTIZACIÓN</paper-button>
      </div>
    </div>
    <iron-ajax
        id="petsData"
        auto
        url="https://apipets.herokuapp.com/Pets"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="responsePets"
        last-response="{{pets}}"
        on-error="errorPets">
    <iron-ajax
        id="clientsData"
        url="https://apipets.herokuapp.com/Clientes"
        content-type="application/json"
        crossDomain: true
        dataType: 'jsonp'
        method="POST"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="responseClient"
        on-error="errorClient">
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }

      static get properties() {
        return {
          titlePetForm: {
            type: String,
            value: 'Queremos conocer a tu mascota'
          },
          namePet: {
            type: String,
            value: '',
            observer: '_validateFormPet'
          },
          agePet: {
            type: Number,
            value: 0
          },
          breedPet: {
            type: Object,
            value: null,
            observer: '_validateFormPet'
          },
          nameClient: {
            type: String,
            value: '',
            observer: '_validateFormClient'
          },
          emailClient: {
            type: String,
            value: '',
            observer: '_validateFormClient'
          },
          passwordClient: {
            type: String,
            value: '',
            observer: '_validateFormClient'
          },
          passwordConfirmClient: {
            type: String,
            value: '',
            observer: '_validateFormClient'
          },
          pets: {
            type: Array,
            value: [],
            observer: '_petsChanged'
          },
          petsBySize: {
            type: Array,
            value: []
          },
          contactFormIsVisible: {
            type: Boolean,
            value: false
          },
          petInfoIsValid: {
            type: Boolean,
            value: false
          },
          clientInfoIsValid: {
            type: Boolean,
            value: false
          },
          registeredClient: {
            type: Boolean,
            value: false
          },
          insurancePrice: {
            type: String,
            value: ''
          },
          namePetQuote: {
            type: String,
            value: ''
          },
        };
      }

      _petsChanged(petsArr) {
        if (petsArr !== null) {
          this.set('petsBySize', this.pets);
        }
      }

      _petSizeChanged(petSizeSelected) {
        if (petSizeSelected.detail.value !== null && this.pets.length > 0) {
          this.$.listPetBreed.selected = -1;
          if (petSizeSelected.detail.value.id === 'all') {
            this.set('petsBySize', this.pets);
          } else {
            this.set('petsBySize', this.pets.filter(objPetSize => objPetSize.petSize === petSizeSelected.detail.value.id));
          }
        }
      }

      _emailValidate() {
        console.log(this.$.emailClient.validate());
      }

      _validateFormPet() {
        if (this.namePet !== '' && this.breedPet !== null) {
          this.set('petInfoIsValid', true);
        } else {
          this.set('petInfoIsValid', false);
        }
      }

      _validateFormClient() {
        if (this.nameClient !== ''
            && this.$.emailClient.validate()
            && this.passwordClient !== ''
            && this.passwordClient === this.passwordConfirmClient) {
          this.set('clientInfoIsValid', true);
        } else {
          this.set('clientInfoIsValid', false);
        }
      }

      _sendPetData() {
        if (this.registeredClient) {
          this._sendQuote();
        } else {
          this.set('contactFormIsVisible', true);
        }
      }

      _sendQuote() {
        let objectPet = this.pets.find(el => el.petBreed === this.breedPet.innerHTML);
        if (objectPet.levelBreed === 'low') {
          this.insurancePrice = 1000 * (parseInt(this.agePet) + 1);
        } else if (objectPet.levelBreed === 'medium') {
          this.insurancePrice = 1500 * (parseInt(this.agePet) + 1);
        } else if (objectPet.levelBreed === 'high') {
          this.insurancePrice = 2500 * (parseInt(this.agePet) + 1);
        }
        let newClient = {
          name: this.nameClient,
          email: this.emailClient,
          password:this.passwordClient,
          quote: [{
            petName: this.namePet,
            petAge: this.agePet,
            petBreed: this.breedPet.innerHTML,
            insurancePrice: this.insurancePrice
          }]
        };
        this.$.clientsData.body = JSON.stringify(newClient)
        this.$.clientsData.generateRequest();
      }

      responsePets(e) {
        if (e.detail.response.length > 0) {
          console.log('Pets found');
        } else {
          console.log('Pets not found');
        }
      }

      errorPets(e) {
        console.log(e.detail.error);
      }

      responseClient(e) {
        if(e.detail.succeeded) {
          console.log('Cotización registrada');
          this.set('titlePetForm', 'Ingresa una nueva mascota');
          this.set('namePetQuote', this.namePet);
          this.set('namePet','');
          this.set('agePet',0);
          this.$.listPetAge.selected = 0;
          this.$.listPetBreed.selected = -1;
          /*this.set('nameClient','');
          this.set('emailClient','');
          this.set('passwordClient','');
          this.set('passwordConfirmClient','');*/
          this.set('contactFormIsVisible', false);
          this.set('registeredClient', true);
        }
      }

      errorClient(e) {
        console.log(e.detail.error);
      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
